@import '../../node_modules/reflex-grid/scss/reflex'

#app .main
  .slide
    //@extend .col-12
    //height: 100vh

    //.centered
      //@extend .align-center

    .title
      h1
        //@extend .align-center
        display: block
        font-size: large

      h2
        display: block
        font-size: large
