@import '../../node_modules/reflex-grid/scss/reflex'

body
  margin: 0

#app
  +reset-whitespace
  font-family: 'Helvetica Neue', Arial, sans-serif
  font-weight: 500
  height: 100vh
  font-size: 3.5vmin
  .slide
    background-color: cadetblue
    border: 1px solid black
    $height: 90vh
    height: $height
    width: calc(#{$height} * 1.8)
    padding: 1em
    li
      text-align-last: left
      font-size: 1.7em
    h1
      font-size: 2.5em
    .centered
      height: 100%
    .title
      +reset-whitespace
      text-align: center
